<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Formulas Docs</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/popper-utils.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/sidebar.css" rel="stylesheet" />
</head>


<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Fomulas Docs</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Index","Mathematics")" class="list-group-item list-group-item-action bg-light">คณิตศาสตร์</a>
                @*<a href="#" class="list-group-item list-group-item-action bg-light">ฟิสิกส์</a>*@
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-outline-primary" id="menu-toggle">เริ่ม!</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="ใส่อะไรบางอย่าง" aria-label="Search">
                                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">ค้นหา</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <br />
                @RenderBody()
                <br />
                <footer>
                    FormulasDocs.com
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
